/* CSS file for easy nested positioning.
Root item is a box with set width and height.
Every box contains panes. Panes can contain boxes.
Set box to vertical or horizontal. Panes will auto-arrange.
Panes can be set percentage heights/widths (% of parent box) or fixed sizes. */

/* Box: can contain panes. Specify horizontal or vertical */
.box {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

/* Pane: contained inside a box */
.pane {
  position: relative;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.horizontal > .pane {
  float: left;
  height: 100%;
}
.vertical > .pane {
  width: 100%;
}

/* Ghost pane: invisible, transparent to clicks, but takes up space */
.ghost, .ghost > .box {
  background: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.ghost > .box > * {
  pointer-events: all;
}